{% extends "base.html" %}

{% block head %}
	{{parent()}}
	<!--ACA PODEMOS AGREGAR .css o .JS especiales para la seccion home en particular-->
	<link rel="stylesheet" href="css/noticias.css">
{% endblock %}

{% block contenido %}
    <div>ESTA ES LA SECCION NOTICIAS... MOSTRAMOS NOTICIAS...</div>
    {% for n in noticias %}
    	<div class="titulo">{{n.titulo}}</div>
    	<div class="fecha">{{n.fecha|date("d/m/Y")}}</div>
    	<div class="texto">{{n.texto}}</div>
    	<div>
    		<a href="./index.php?seccion=noticias&amp;eliminar={{n.id}}" class="eliminar">
    			Eliminar
    		</a>
    	</div>
    	<hr>
    {% endfor %}
{% endblock %}